@page "/StepNightlyCostExact"
@layout VerticalCenterLayout
@inherits WizardComponentBase

@if (AppData.CurrentReport == null || AppData.CurrentReport.Pirate == null) {
    return;
}

<h1>Übernachtungskosten</h1>

<div class="mb-3">
    <label class="form-label">Übernachtungskosten</label>
    <input class="form-control" type="number" min="0" @bind=AppData.CurrentReport.AccommodationCosts />
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title mb-3">Bild des Belegs hochladen</h5>

        @if (AppData.Config.UseLocalStorage) {
            @if (SavingImage) {
                <p class="card-text">Bild wird gespeichert ...</p>
            } else if (AppData.CurrentReport.ImageAccommodationReceipt == null) {
                <p class="card-text">Kein Bild ausgewählt</p>
            } else {
                <p class="card-text">Ausgewähltes Bild: @AppData.CurrentReport.ImageAccommodationReceipt</p>
            }

            <p class="card-text mb-1">Neues Bild auswählen (Maximal 4 Mb)</p>
            <InputFile OnChange=OnFileChanged />
        } else {
            <p class="card-text">Um dieses feature nutzen zu können, erlaube bitte die Speicherung von Daten in deinem Browser.</p>
            <button @onclick=AllowLocalStorage class="btn btn-primary">Erlauben</button>
        }
    </div>
</div>

<div class="d-flex justify-content-between">
    <div style="flex: 1;">
        <NavLink href="StepNightlyCostTypeSelection" class="btn btn-primary">Zurück</NavLink>
    </div>
    <div>
        <NavLink href="/Overview" class="btn btn-primary">Übersicht</NavLink>
    </div>
    <div style="flex: 1;" class="d-flex justify-content-end">
        <NavLink href="StepOtherCostsSelection" class="btn btn-primary">Weiter</NavLink>
    </div>
</div>