@page "/StepOtherCostsOverview"
@layout VerticalCenterLayout
@inherits WizardComponentBase

@if (AppData.CurrentReport == null || AppData.CurrentReport.Pirate == null) {
    return;
}

<h1 class="mb-4">Sonstige Kosten</h1>
<p>
    Du kannst z.B. Parkplatzkosten oder ähnliches einreichen.
</p>

@for (int i = 0; i < AppData.CurrentReport.OtherCosts.Count; i++) {
    var entry = AppData.CurrentReport.OtherCosts[i];
    var j = i;

    <div class="card mb-3 px-2 pt-1">
        <div class="row mb-1">
            <div class="col-8">
                <label class="form-label">Beschreibung</label>
                <input class="form-control" @bind=entry.Text />
            </div>
            <div class="col-3">
                <label class="form-label">Betrag</label>
                <input class="form-control" type="number" min="0" @bind=entry.Cost />
            </div>
            <div class="col-1 d-flex flex-column justify-content-end">
                <button class="btn btn-danger" @onclick=@(() => Delete(j))>X</button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-5">
                <p class="mb-0">Bild des Beleg hochladen</p>

                @if (AppData.Config.UseLocalStorage) {
                    if (SavingImage) {
                        <p>Bild wird gespeichert ...</p>
                    } else if (entry.ImageReceipt == null) {
                        <p>Kein Bild ausgewählt</p>
                    } else {
                        <p>Ausgewähltes Bild: @entry.ImageReceipt</p>
                    }
                }
            </div>

            @if (AppData.Config.UseLocalStorage) {
                <div class="col-7">
                    <p class="mb-1">Neues Bild auswählen (Maximal 4 Mb)</p>
                    <InputFile OnChange=@(e => OnFileChanged(entry, e)) />
                </div>
            } else {
                <div class="col-7">
                    <p>Um dieses feature nutzen zu können, erlaube bitte die Speicherung von Daten in deinem Browser.</p>
                    <button @onclick=AllowLocalStorage class="btn btn-primary">Erlauben</button>
                </div>
            }
        </div>
    </div>
}

<div class="d-flex justify-content-center mb-3">
    <button class="btn btn-primary" @onclick=AddNew disabled="@(AppData.CurrentReport.OtherCosts.Count >= 3)">+</button>
</div>

<div class="d-flex justify-content-between">
    <div style="flex: 1;">
        <NavLink href="/StepOtherCostsSelection" class="btn btn-primary">Zurück</NavLink>
    </div>
    <div>
        <NavLink href="/Overview" class="btn btn-primary">Übersicht</NavLink>
    </div>
    <div style="flex: 1;" class="d-flex justify-content-end">
        <NavLink href="/StepDonationSelection" class="btn btn-primary">Weiter</NavLink>
    </div>
</div>