@page "/"

<div class="row" style="height: 100%; align-items: center;">
    <div style="padding-bottom: 10em;">
        <div class="row" style="margin-bottom: 2em; justify-items: center;">
            <h1>Wähle einen Benutzer</h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="card not-allowed h-100">
                    <div class="card-body">
                        <h5 class="card-title">Existierenden Benutzer</h5>
                        <p class="card-text">Dieses Feature existiert noch nicht D:</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <NavLink href="StepUserDataEntry" class="no-decoration">
                    <div class="card box-highlight h-100">
                        <div class="card-body">
                            <h5 class="card-title">Manuell Eingeben</h5>
                            <p class="card-text">Benutzerdaten manuell im nächsten Schritt eintragen</p>
                        </div>
                    </div>
                </NavLink>
            </div>
        </div>
    </div>
</div>