@inherits LayoutComponentBase

<div class="container" style="height: 100%;">
    <div class="row" style="height: 100%; align-items: center;">
        <div>
            @Body
        </div>
    </div>
</div>