@page "/"

@if (Loading) {
    return;
}

<h1 class="mb-4">Reisekostentool V0.7</h1>

<div class="row mb-4">
    <div class="col">
        <NavLink href="/Settings" class="no-decoration">
            <div class="card box-highlight h-100">
                <div class="card-body">
                    <h5 class="card-title">Einstellungen</h5>
                    <p class="card-text">Einstellungen der Web App</p>
                </div>
            </div>
        </NavLink>
    </div>

    <div class="col">
        <NavLink @onclick=UserManagement class="no-decoration">
            <div class="card @(AppData.Config.UseLocalStorage ? "box-highlight pointer" : "not-allowed") h-100">
                <div class="card-body">
                    <h5 class="card-title">Benutzerverwaltung</h5>
                    <p class="card-text">Benutzer Anlegen oder Editieren</p>
                </div>
            </div>
        </NavLink>
    </div>

    <div class="col">
        <NavLink @onclick=NewReport class="no-decoration pointer">
            <div class="card box-highlight h-100">
                <div class="card-body">
                    <h5 class="card-title">Neuer Reisekostenantrag</h5>
                    <p class="card-text">Einen neuen Reisekostenantrag anlegen</p>
                </div>
            </div>
        </NavLink>
    </div>
</div>

<div class="row mb-4">
    <h2 class="mb-3">Gespeicherte Anträge</h2>

    @if (AppData.Config.UseLocalStorage) {
        if (AppData.Reports.Count > 0) {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Datum (Start der Reise)</th>
                        <th scope="col">Zweck</th>
                        <th scope="col">Person</th>
                        <th scope="col" class="text-end">Aktionen</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var report in AppData.Reports) {
                        <tr>
                            <td style="vertical-align: middle;">@report.StartDate.ToString(Culture)</td>
                            <td style="vertical-align: middle;">@report.TravelReason</td>
                            <td style="vertical-align: middle;">@report.User?.Name</td>
                            <td class="text-end">
                                <Button Title="Löschen" OnClick=@(() => DeleteReport(report))
                                        Type="BootstrapType.Danger" Small=true>
                                    <i class="bi bi-trash-fill"></i>
                                </Button>
                                <Button Title="Editieren" OnClick=@(() => EditReport(report))
                                        Type="BootstrapType.Success" Small=true>
                                    <i class="bi bi-pencil-fill"></i>
                                </Button>
                                <Button Title="PDF Erstellen" OnClick=@(() => BuildPdf(report))
                                        Type="BootstrapType.Primary" Small=true>
                                    <i class="bi bi-filetype-pdf"></i>
                                </Button>
                                <Button Title="Kopieren" OnClick=@(() => Copy(report))
                                        Type="BootstrapType.Primary" Small=true>
                                    <i class="bi bi-copy"></i>
                                </Button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        } else {
            <p>
                Hier tauchen Anträge auf sobald du einen erstellt hast.
            </p>
        }
    } else {
        <p>
            Damit Anträge und Benutzer gespeichert werden können, stimme bitte der Speicherung von Daten im Browser zu.<br />
            Alle Daten (Benutzer, Anträge) werden dann nur lokal auf deinem Rechner gespeichert.<br />
            Es gibt keinerlei Datenübertragung an die Server der Piratenpartei - selbst die PDF wird lokal generiert :)<br />
            Falls du es dir anders überlegt hast oder deine Daten exportieren willst kannst du dies in den Einstellungen machen!
        </p>
        <div class="d-flex justify-content-center">
            <button @onclick=AllowLocalStorageAsync class="btn btn-primary">Lokaler Datenspeicherung zustimmen</button>
        </div>
    }
</div>

<div class="row mb-4">
    <h2>Änderungen in V0.7</h2>
    <h5>Neues</h5>
    <ul>
        <li>Buttons auf der Hauptseite/Antragsliste wurden überarbeitet und haben Tooltips.</li>
        <li>"Kein Verband" als "virtueller" Verband damit auch Menschen die nicht Mitglied sind Anträge einreichen können.</li>
        <li>Landesverband Hessen hinzugefügt - ihr könnt jetzt Anträge erzeugen die bei Hessen eingereicht werden müssen.</li>
        <li>
            Neuer Button auf der Zusammenfassung eines Antrags zum speichern der PDF ohne die Felder schreibgeschützt zu setzen.<br />
            Im Normalfall sollte diese Funktion nicht nötig sein, falls aber eine RKO nicht exakt eingebaut ist könnt ihr damit die PDF selbst beheben.
        </li>
        <li>Daten Import/Export - ihr könnt eure Daten (Benutzer, Anträge) exportieren und auf einem anderen System importieren!</li>
    </ul>
    <h5>Fixes</h5>
    <ul>
        <li>Beim generieren einer PDF mit einem Benutzer der keinen Verband eingetragen hat ist die App abgestürtzt.</li>
    </ul>
</div>

<div class="row mb-4">
    <h2>Änderungen in V0.6</h2>
    <h5>Neues</h5>
    <ul>
        <li>Aktion um einen RK-Antrag zu kopieren</li>
        <li>Alle LVs für Benutzer eingebaut (Es fehlen noch Reisekostenordnungen für viele LVs, falls dir eine RKO und ein RK-Formular bekannt sind bitte @@joscha999 anpingen!)</li>
        <li>Beim löschen von Benutzern und Anträgen wird um Bestätigung gebeten</li>
        <li>"Probleme/Hinweise" Seite die auf mögliche Probleme im Antrag hinweist</li>
        <li>Es können jetzt neben PNGs auch PDFs für Anhänge genutzt werden</li>
    </ul>
    <h5>Fixes</h5>
    <ul>
        <li>Bankdetails werden nicht mehr ins Formular geschrieben wenn alles gespendet wird</li>
        <li>Beschluss-Datum wird leer gelassen/nicht ins Formular geschrieben bis ein Beschluss angegeben wird</li>
    </ul>
</div>