<div class="d-flex justify-content-between align-items-center mb-4">
    <Button Type="BootstrapType.Primary">
        <i class="bi bi-chevron-left"></i>
        <span class="ps-1">Vorheriger Schritt</span>
    </Button>
    <h1>@Title</h1>
    <Button Type="BootstrapType.Primary">
        <span class="pe-1">Nächster Schritt</span>
        <i class="bi bi-chevron-right"></i>
    </Button>
</div>